<div>
  <span class="lbl">{{placeholder}}</span>
  <input type="number" [ngModel]="value"
         (ngModelChange)="setValue($event)">
</div>
<div class="form-group" *ngIf="asCoord">
  <span class="lbl">{{placeholder}} en ° minutes</span>
  <input type="number" [ngModel]="deg" (ngModelChange)="setFromDegrees($event)"> °
  <input type="number" [ngModel]="min" (ngModelChange)="setFromMinutes($event)"> '
  <select [ngModel]="factor" (ngModelChange)="setFromDir($event)">
    <option *ngFor="let d of directions" [value]="d.factor">{{d.name}}</option>
  </select>
</div>
