<div>
  <span class="lbl">Latitude</span>
  <input type="number" [(ngModel)]="latDeg"> degrés
  <input type="number" [(ngModel)]="latMin"> minutes
  <select [(ngModel)]="latDir">
    <option value="N">N</option>
    <option value="S">S</option>
  </select>
</div>
<div>
  <span class="lbl">Longitude</span>
  <input type="number" [(ngModel)]="lonDeg"> degrés
  <input type="number" [(ngModel)]="lonMin"> minutes
  <select [(ngModel)]="lonDir">
    <option value="W">W</option>
    <option value="E">E</option>
  </select>
</div>
<div>
  <span class="lbl">Cap</span> <input type="number" [(ngModel)]="cap"> degrés
</div>
<div>
  <span class="lbl">Vitesse</span> <input type="number" [(ngModel)]="speed"> noeuds
</div>
<div>
  <span class="lbl">Durée</span> <input type="number" disabled [(ngModel)]="hoursNumber"> Heures
</div>

<button (click)="calculate()">Calculer</button>

<ng-container *ngIf="url1">
  <div>
    <a [href]="url1" target="_blank">Position actuelle : {{position | json}}</a>
  </div>

  <div *ngFor="let r of resultList">
    <a class="lbl" [href]="'https://www.windy.com/' + r.lat + '/' + r.lng + '?d:picker'" target="_blank">{{r.label}}</a>
    <input type="number" [(ngModel)]="r.wind" placeholder="Vent en noeuds">
    <input type="number" [(ngModel)]="r.wind_dir" placeholder="Direction">
    <input type="number" [(ngModel)]="r.wave" placeholder="Hauteur vague">
  </div>
  <div>
    <button (click)="getMessage()">Calculer</button>
    <div>
      Message formatté : {{message}}
    </div>
    <div>
      Nombre de caractères : {{message?.length}}
    </div>
  </div>
</ng-container>
<!--<div id="windy"></div>-->

