:host {
  padding: 16px;
  display: block;
}

input {
  max-width: 240px;
}

.form-group input {
  width: 180px;
}

table input {
  width: 120px;
}

.form-group {
  margin-bottom: 8px;
}

button {
  display: block;
  width: 100%;
  margin: 16px 0;
}

.lbl img {
  height: 18px;
}
