<div>Sélectionner un fichier GRIB à envoyer</div>
<input type="file" (change)="setFile($event)">

<div class="grid">
  <div>
    <h2>Encodage</h2>
    <textarea placeholder="Sélectionner le fichier grib à encoder"
              [(ngModel)]="encodedMessage"></textarea>
    <div class="max" *ngIf="message">
      <pre>{{ message | json }}</pre>
    </div>
  </div>

  <div>
    <h2>Décodage</h2>
    <textarea [(ngModel)]="decodedMessage"></textarea>
  </div>
</div>

<app-grib-map [center]="center" [grid]="grid" *ngIf="message"></app-grib-map>
